<!doctype html>
<html lang="en">
<%- include('templates/head.ejs') %>

<body>
    <%- include('templates/svg.ejs') %>
    <main>
        <%- include('templates/header.ejs') %>
        <%- include('templates/footer.ejs') %>
    </main>
</body>

<script src="/static/js/bootstrap.bundle.min.js"></script>

</html>